@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* nav bar styles code start */
.nav{
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1{
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}
.logo h1 span{
    color: #FD6E0A;

}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items > li{
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
}
.nav-item a{
    text-decoration: none;
}
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
}

/* banner */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, top 20px left 23px;
    padding: 20px 0;
}
.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
}
.banner-content{
    max-width: 500px;
}
.banner-content h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 10px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    margin-bottom: 30px ;
}
.banner-content button{
    margin-right: 15px;
}
.banner-content .contatc-btn{
    background: none;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}
/* nav bar styles code end */
/* main tag styles code start */
.main{
    width: 1140px;
    margin: 0 auto;
}
/* about section start */
.about{
    padding: 150px;
    margin:120px 0;
    background-color: #FFF8F3;

}
.about .about-title h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 700;
    color:#181818;
}
.about .about-desc p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    text-align: center;
}
.about-info-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.about-info-container .about-info{
    text-align: center;
}
.about-info-container .about-info .info-title{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.about-info-container .about-info .info-desc{
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}
/* about section end */
/* What I do / my experience section srart */
.my-experience{

}
.my-experience .experience-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    color: #181818;
}
.my-experience .experience-desc{
    text-align: center;
    padding: 0 115px;
    font-size: 18px;
    color: #757575;
}
.my-experience .skill-langues-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.my-experience .skill-langues-cards .single-cards{
    width: 220px;
    padding: 25px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.116);

}
.my-experience .skill-langues-cards .single-cards img{
    width: 45px;
    height: 45px;
    margin: 20px 0;
}
.my-experience .skill-langues-cards .single-cards .react-img{
    width: 50px;
}
.my-experience .skill-langues-cards .single-cards h3{
    font-size: 18px;
    color: #181818;
    margin-bottom: 10px;
    font-weight: 700
}
.my-experience .skill-langues-cards .single-cards p{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}

/* What I do / my experience section end */

/* A summary of my resume section design start */
.summary-my-resume{
    
}
.summary-my-resume .my-summary-resume-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding: 90px 0 60px;
    color: #181818;
}
.summary-my-resume-wrap{
    display: flex;
    justify-content: space-between;
}
.my-education-skills{
    width: 511px;
}
.my-experience-skills{
    width: 511px;
}

/* A summary of my resume section design end */



/* main tag styles code end */










